<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>HanoverGrounds</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel='icon' type='image/jpg' href="http://iconwallstickers.co.uk/media/catalog/product/2-Jpegs/coffee-cup-print-wall-art-sticker-20.jpg"/>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
     <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" width="100%" ui-view></div>
</body>
</html>