<section id='grad'>
<nav class="navbar navbar-fixed-top"  scroll ng-class="{min:boolChangeClass}">
    <div class="container">
        <div class="navbar-header" ng-class="{pad:boolChangeClass}">
            <!-- <a ui-sref='home'> --><h2 ui-sref='home'>Hanover<img id='logoImg' src="../../images/mugLogo.png"/>Grounds</h2><!-- </a> -->
        </div>
        <ul class="nav navbar-nav" ng-class="{pad:boolChangeClass}">
            <li ng-repeat="item in items" ng-show="item.auth">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        <li ng-show="!user" ui-sref="login" class="welcome"><a>Login</a></li>
        <li ng-show="user" class="welcome">
            <a ng-click="logout()">Logout</a>
        </li>
        <li><a ui-sref='orderHistory'>Order History</a></li>
        </ul>
    </div>
 
</nav>

</section>
