#home {

	.col-lg-12 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
    h2 {
      color: $coffee;
    }
	}
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .thumbnail {
    background-color: $cream;
    border: none;
    font-family: Cinzel;
    padding: 0px;
     img {
        display: block;
        width: 50%;
        margin: 0 auto;
        }
  }
  .caption {
  	color: $darkRoast;
  }
  .btn {
  	padding: 5px;
  	background-color: $cream;
  	font-color: $darkRoast;
    border: 1px solid $cream;
    &:hover {
      border: 1px solid $coffee;
    }
  }
}

#homeImg {
  width: 100%;
}
