#home {

	.col-lg-12 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
    h2 {
      color: $coffee;
    }
	}
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .thumbnail {
  	background-color: darken($cream, 20%);
  	font-family: Cinzel;
  	border-radius: 5px;
  	padding: 0px;
  }
  .caption {
  	color: $darkRoast;
  }
  .btn {
  	padding: 5px;
  	background-color: $cream;
  	font-color: $darkRoast;
    border: 1px solid $cream;
    &:hover {
      border: 1px solid $coffee;
    }
  }
}

#homeImg {
  width: 100%;
}
