<h1> Overview </h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Products (Currently for Sale)</div>
  <!-- Table -->
  <table class="table">
  	<thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='user in users'>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
      </tr>
    </tbody>  
  </table>
  <div class="panel-heading">Your Products (Currently for Sale)</div>
  <table class="table">
  	<thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='user in users'>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
      </tr>
    </tbody>  
  </table>
</div>