<h1> Add a Product </h1>
<form>
	<div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Name</span>
	    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model='product.name'>
	</div>
	<div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Price</span>
	    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model='product.price'>
	</div>
	<div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Description</span>
	    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model='product.description'>
	</div>
	<div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Quantity</span>
	    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model='product.quantity'>
	</div>
	<div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Photo</span>
	    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model='product.photo'>
	</div>
    <div class="input-group">
	    <span class="input-group-addon" id="basic-addon1">Category</span>
	    <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model='product.category'>
	</div>
  </div>
	<button ng-click="addProduct(product)">Add</button>
</form>