<h1> Edit A Product </h1>

<div class="panel panel-default">
  <div class="panel-heading">Your Products (Currently for Sale)</div>
  <table class="table">
  	<thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='product in productsForSale'>
        <td class='productName'><input type="text" ng-model='product.name'></input></td>
        <td><input type="text" ng-model='product.price'></input></td>
        <td><input type="text" ng-model='product.quantity'></input></td>
        <td><input type="text" ng-model='product.category'></input></td>
        <td><button ng-click='editProduct(product)'>Save</button></td>
		 <td><button ng-click='deleteProduct(product)'>Delete</button></td>
      </tr>
    </tbody>  
  </table>
</div>
