<section id="detail">
 <carousel style="padding: 0px;" interval="3000">
        <slide ng-repeat="photo in product.photo">
            <img ng-src="{{'/images/'+photo}}" />
        </slide>
    </carousel>
{{ product.name }}
{{ product.description }}
<p>Categories:{{categories}}</p>

<h1>Reviews</h1>
<div ng-repeat="review in reviews">
	<div>
		{{review.user}}
		{{review.review}}
		{{review.rating}}
		<!-- <button ng-click="editData(review.id)">EDIT</button> -->
		<button ng-click="deleteData(review._id)">DELETE</button>
	</div>
</div>


<!-- WE ARE GOING TO HIDE THIS FORM FOR UNAUTHENTICATED USERS -->

<form>

<textarea ng-model="reviewData"></textarea>
<button ng-click="storeData()" >Submit</button>

</form>


</section>