<section id="detail">

    <img src='../../images/NowRoasting.jpg' id='bigImg'><img>

    <div class='col-lg-6 col-md-6'>
        <carousel style="padding: 0px;" interval="3000">
            <slide ng-repeat="photo in product.photo">
                <!-- <img ng-src="{{'/images/'+photo}}" /> -->
                <img src="http://placehold.it/800x500" alt="">
            </slide>
        </carousel>
    </div>

    <div class='col-lg-6 col-md-6 details'>
        <h2>{{ product.name }}</h2>
        <h4>{{ product.description }}</h4>
        <p>Categories:{{categories}}</p>
        <h1>Reviews</h1>
        <div ng-repeat="review in reviews">
            <div>
                {{review.user}} {{review.review}} {{review.rating}}
                <!-- <button ng-click="editData(review.id)">EDIT</button> -->
                <button ng-click="deleteData(review._id)">DELETE</button>
            </div>
        </div>
        <button class='btn' ng-click="addProductToCart(product._id)">Add to Cart</button>
        <!-- WE ARE GOING TO HIDE THIS FORM FOR UNAUTHENTICATED USERS -->
        <form>
            <textarea ng-model="reviewData"></textarea>
            <button class='btn' ng-click="storeData()">Submit</button>
        </form>
    </div>

</section>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>