#detail {

  height: 100vh;

  .breadcrumb {
    background-color: $cream
  }
  a {
      text-decoration: none;
        color: $coffee;
        &:hover {
            color: $darkRoast;
        }
    }

  #photo{
    text-align: center;
    background-color: white;
    border: 1px solid $coffee;
    border-right: none;
    min-height: 470px;
     img {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    }
  }

  #reviewed {
    font-weight: bold;
  }

  .details {
    background-color: white;
    min-height: 470px;
    border: 1px solid $coffee;
    box-sizing: border-box;
    /*margin-top: 30px;
    margin-right: 2px;*/
  }
  #delete{
   display: inline;
  }

i {
  float: left;
}

h4 {
  margin-top: 10px;
}

  .btn {
    padding: 5px;
    margin-bottom: 5px;
    background-color: $coffee;
    color: $cream;
    border: 1px solid $cream;
    &:hover {
      border: 1px solid $coffee;
    }
  }
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#bigImg {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}