#detail {

  .details {
  	background-color: white;
    min-height: 450px;
    border: 1px solid $coffee;
  }
  .btn {
  	padding: 5px;
  	background-color: $cream;
  	font-color: $darkRoast;
    border: 1px solid $cream;
    &:hover {
      border: 1px solid $coffee;
    }
  }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#bigImg {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}