<section id="login">

<img src='../../images/field.jpg' class='bigImg'>
    <img>

<form id="login-form" name="loginForm" ng-submit="sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div>
        <a ui-sref='signupState'>Don't have an account? Sign Up by clicking here</a>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a id="google" target='_self' href="/auth/google" class="btn btn-social btn-google"><i class="fa fa-google"></i>Sign in with Google</a>

</form>

</section>