#login-form {
  width: 60%;
  margin: 0 auto;
}


.login {
	height: 80vh;
}
.title {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 5px;
}

div.form-group label {
	margin-top: 15px;
}

#google {
	margin-left: 5px;
}