

<div class='col-lg-4'>
  <h1>Your Shopping Cart</h1>
</div>

<div class='col-lg-8'>
  <div class="panel panel-default">
    <div class="panel-heading">Items</div>
    <table class="table">
    	<thead>
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='product in productsInCart'>
          <td><p>{{product.name}}</p></td>
          <td><p>{{product.photos[0]}}</p></td>
          <td><p>{{product.price | currency}}</p></td>
          <td><input type="text" ng-model='product.quantity'></input></td>
          <td><button class='btn' ng-click='updateQty(product)'>Update Qty</button></td>
  		    <td><button class='btn' ng-click='removeProduct(product)'>Remove</button></td>
        </tr>
        <tr><button class='btn purchase' ng-click='purchase(productsInCart)'>Purchase</button></tr>
      </tbody>
    </table>
  </div>
</div>