$coffee: #371C00;
$cream: #F7F4F1;
$darkRoast: #271400;
/*rgb(39, 20, 0)*/

* {
  box-sizing: border-box;
  font-family: Cinzel;
  text-decoration: none;
}

body {
  background: $cream;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  /* width: 100%; already in-line style */
  margin: 0 auto;
  display: block;
}

#bigImg {
  margin-top: -150px;
  height: 250px;
  width: 100%;
}

/* navbar, dashboard, FSlogo */
@import 'directives/main';

/* others */
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'mainProduct/main';
@import 'detail/main';

@import 'directives/dashboard';
@import 'cart/cart';