div {
	font-family: Cinzel;
}
.btn {
	background-color: $cream;
}
input {
	width: 30px;
}
.purchase {
	margin-right: 15px;
	margin-top: 15px;
	float: right;

}

#cart {
	height: 80vh;
}

.credit {
  width: 400px;
  height: 200px;
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  top: 65%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
  font-size: 20px
}

#stripe {
	height: 90vh;
}

#cardNum {
	width: 200px;
}

#cvcNum {
	width: 40px;
}